.list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}

.link {
  display: inline-block;
  width: 100%;
  height: 350px;
}

/* .link:focus,
  .link:hover {
    transform: scale(1.1, 1.1);
  } */

.title {
  padding: 5px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  max-height: 45px;
}

.item {
  flex-direction: column;
  margin: 15px;
  flex-basis: calc((100% - 90px) / 3);
  align-self: center;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 3px 3px 2px 0px hsla(0, 0%, 0%, 0.3);
  transition: transform ease-in 100ms;
}

.item:focus,
.item:hover {
  transform: scale(1.03, 1.03);
}
